body, html{
  background-color: white;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  text-align: center;
  padding-top: 50px;
}

#glitch-canvas {
  /*border: 1px solid black;*/
}
#glitch-reference {
  border: 1px solid pink;
  display: none;
}
